<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BurnDown ToDo</title>
  <link rel="stylesheet" href="/plugins/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/plugins/css/morris.css" type="text/css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <div class="row">
      <div class="col-md-12">
        <h1>BurnDown ToDo</h1>
      </div>
    </div>

    <!-- List -->
    <div class="row">
      <div class="col-md-12">
        <ul id="task-list" class="list-group">
          <li class="list-group-item">
            <form id="task-form" action="" method="post">
              <input type="text" class="form-control"
                     placeholder="Enter task here">
            </form>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form id="start-form" class="form-inline" action="" method="post">
          <div class="form-group">
            <label>Time needed</label>
            <input type="text" class="form-control" placeholder="HH:MM" />
          </div>
          <input type="submit" class="btn btn-default" value="Start" />
        </form>
        <form id="reset-form" class="hidden form-inline" action=""
              method="post">
          <input type="submit" class="btn btn-default" value="Reset" />
        </form>
      </div>
    </div>

    <!-- Chart -->
    <div class="row">
      <div id="chart" class="col-md-12" style="height:300px"></div>
    </div>
  </div>

  <!-- External libraries -->
  <script src="/plugins/js/jquery.js" type="text/javascript"></script>
  <script src="/plugins/js/underscore.js" type="text/javascript"></script>
  <script src="/plugins/js/backbone.js" type="text/javascript"></script>
  <script src="/plugins/js/bootstrap.js" type="text/javascript"></script>
  <script src="/plugins/js/raphael.js" type="text/javascript"></script>
  <script src="/plugins/js/morris.js" type="text/javascript"></script>

  <!-- Mine -->
  <script src="/app.js" type="text/javascript"></script>

  <!-- Templates -->
  <script id="task-setup-template" type="text/template">
    <div class="input-group">
      <span class="input-group-addon js-remove">
        <span class="glyphicon glyphicon-remove"></span>
      </span>
      <input type="text" class="form-control" value="<%- task.text %>" />
    </div>
  </script>
  <script id="task-running-template" type="text/template">
    <div class="input-group <% if(task.done) { print('has-success'); } %>">
      <span class="input-group-addon">
        <input type="checkbox"
               <% if(task.done) {
                    print('checked="checked" '+
                          'style="text-decoration: line-through"');
                  } %> />
      </span>
      <input type="text" class="form-control" value="<%- task.text %>" />
    </div>
  </script>
</body>
</html>
